/* font declarations */

@font-face {
    font-family: 'Mukta';
    src: url('../Assets/fonts/Mukta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mukta';
    src: url('../Assets/fonts/Mukta-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Mukta';
    src: url('../Assets/fonts/Mukta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Station';
    src: url('../Assets/fonts/Station.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Varela Round';
    src: url('../Assets/fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
