/* size definitions */

:root {

    // #region font sizes
    --size-font-small: 12rem;
    --size-font-medium: 14rem;
    --size-font-large: 18rem;
    // #endregion

    // #region element sizes
    --size-fab: 48px;
    --size-fab-icon: 25px;
    --size-action: 25px;
    --size-mood-width: 53px;
    --size-mood-height: 20px;
    // #endregion

}