/* fab component */

$pos: calc(50% - var(--size-fab) / 2);

.fab {

    /* size */
    width: var(--size-fab);
    height: var(--size-fab);
    
    font-size: var(--size-fab-icon);
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);

    @include flex;

    i {
        transition: transform 0.3s;

        &.rotated {
            transform: rotate(45deg);
        }

        &.rotating {
            animation: rotating 2s linear infinite;
        }

        @keyframes rotating {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
    }

    &-wing {

        position: absolute; 
        @include flex;
        
        /* size */
        width: var(--size-fab);
        height: var(--size-fab);

        /* visual */
        border-radius: calc(var(--size-fab) * 0.5);
        transition: all 0.5s;
        font-size: calc(var(--size-fab-icon) * 0.7);

        --size: var(--size-fab);
        --padding: 0;

        &:nth-child(1) { 
            right: var(--size-fab); 
            padding-right: var(--padding);
            width: var(--size);
            top: $pos;
        }
        &:nth-child(2) { 
            left: var(--size-fab); 
            padding-left: var(--padding);
            width: var(--size);
            top: $pos;
        }
        &:nth-child(3) { 
            top: var(--size-fab);
            padding-top: var(--padding);
            height: var(--size);
            left: $pos;
        }
        &:nth-child(4) { 
            bottom: var(--size-fab);
            padding-bottom: var(--padding);
            height: var(--size);
            left: $pos;
        }
    }

    &-container {
        
        /* size */
        $size: calc(var(--size-fab) * 3);
        width: $size;
        height: $size;

        position: relative;

        .fab { position: absolute; top: $pos; left: $pos; }

        &.active {
            .fab-wing {
                --padding: var(--size-fab);
                --size: calc(var(--size-fab) * 2);
            }
        }

    }

}