/* feeling mood component */

.feeling-mood {

    /* size */ width: 53rem; height: 20rem;
    border-radius: 5rem;

    /* font */
    font-family: 'Mukta';
    font-weight: bold;
    font-size: var(--size-font-small);
    text-align: center;

    color: var(--color-font-bright);
    
    @include flex;

    $moods: 'great', 'good', 'ok', 'bad', 'worst';
    @each $mood in $moods {
        &[data-mood='#{$mood}'] {
            background-color: var(--color-mood-#{$mood});
        }
    }
}