/* color definitions */

:root {
    
    // #region moods
    --color-mood-great: hsl(124, 63%, 48%);
    --color-mood-good: hsl(79, 51%, 50%);
    --color-mood-ok: hsl(45, 83%, 50%);
    --color-mood-bad: hsl(27, 71%, 51%);
    --color-mood-worst: hsl(0, 61%, 50%);
    // #endregion

    // #region times-of-day
    --color-tod-0: hsl(357, 83%, 72%);
    --color-tod-1: hsl(18, 88%, 70%);
    --color-tod-2: hsl(45, 99%, 66%);
    --color-tod-3: hsl(57, 91%, 70%);
    --color-tod-4: hsl(42, 100%, 82%);
    --color-tod-5: hsl(20, 86%, 73%);
    --color-tod-6: hsl(223, 14%, 60%);
    --color-tod-6: hsl(198, 100%, 29%);
    --color-tod-7: hsl(204, 51%, 21%);
    // #endregion

    // #region fonts
    --color-font-bright: white;
    --color-font-dark: black;
    // #endregion

    // #region main colors
    --color-bg: white;
    --color-day-primary: hsl(162, 47%, 52%);
    --color-night-primary: hsl(198, 100%, 29%);
    --color-day-secondary: hsl(57, 91%, 70%);
    --color-night-secondary: hsl(20, 86%, 73%);
    --color-day-secondary-brightened: hsl(57, 91%, 85%);
    --color-night-secondary-brightened: hsl(20, 86%, 85%);
    // #endregion


    // #region use cases
    --color-primary: var(--color-day-primary);
    --color-secondary: var(--color-day-secondary);
    --color-secondary-brightened: var(--color-day-secondary-brightened);
    // #endregion

}
