/* activity component */

.activity {
    
    /* layout */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 24px 5% 1fr fit-content(50px) 10px 12px;
    grid-template-areas: 
        'time -lp- title    edit   -rp- selected'
        'time -lp- subtitle delete -rp- selected'
    ;
    
    &:last-of-type { margin-bottom: 150px; }

    /* size */ width: 100vw; min-height: 75px;
    border-bottom: 1px solid gray;

    .time-container {

        /* layout */ 
        grid-area: time; 
        @include flex;

        /* color */
        background-color: var(--color-tod-2);
        color: var(--color-font-dark);

        time {
        
            transform: rotate(90deg);
            
            /* font */ 
            font-family: 'Varela Round'; 
            font-size: var(--size-font-large);
        }
    }

   

    .title {

        grid-area: title;
        margin-top: 12px;

        /* font */
        font-family: 'Varela Round';
        font-size: var(--size-font-large);
        
        color: var(--color-font-dark);
    }

    .subtitle {
        
        grid-area: subtitle;
        margin-bottom: 5px;
        @include flex(row, flex-start);

        .feeling-label {

            font-family: 'Mukta';
            font-weight: lighter;
            font-size: var(--size-font-medium);
            
            color: var(--color-font-dark);

            margin-right: 5rem;
        }
    }

    .action-button { 
        filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.3));
        &:active { filter: none; }
    }

    .edit {
        grid-area: edit;
        margin-top: 5px;
        color: var(--color-mood-ok);
    }

    .delete {
        grid-area: delete;
        margin-bottom: 5px;
        color: var(--color-mood-worst);
    }

    .selected {
        grid-area: selected;
        background-color: var(--color-primary);
    }
}