/* footer component */

footer {

    /* size */ width: 100vw; height: 100px;
    /* position */ position: fixed; bottom: 0; 
    /* layout */ @include flex($justify: flex-start);
    overflow: hidden;

    button {

        /* size */
        width: var(--size-fab);
        height: var(--size-fab);
        border-radius: 50%;

        position: absolute;

        /* color */
        background-color: var(--color-secondary);
        color: var(--color-font-dark);
        
        font-size: var(--size-fab-icon);
    }

    .bottom-filler {

        /* size */ width: 150vw; height: 100%; border-radius: 50%;
        /* position */ position: absolute; z-index: -1; bottom: -25%;
        /* color */ background-color: var(--color-primary);
    }

}