/* nav header component */

.nav-header {

    /* size */ width: 100%; height: 100%;
    /* layout */ @include flex(row);
    
    h1 {

        @include flex($justify: flex-start);
        
        /* font */
        font-family: 'Station';
        span {
            &:nth-child(1) { font-size: var(--size-font-large); }
            &:nth-child(2) { font-size: var(--size-font-small); }
        }
    }

    .nav-menu-button {
        padding: 0 15px;
        &:first-of-type { margin-right: auto; }
        &:last-of-type { margin-left: auto; }
    }
}