/* nav header component */

.nav-header {

    /* size */ width: 100vw; height: 50px;
    /* layout */ @include flex(row);
    /* position */ position: relative; z-index: 2;
    
    /* color */ 
    background-color: var(--color-primary); 
    color: var(--color-font-bright);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);

    h1 {

        @include flex($justify: flex-start);
        
        /* font */
        font-family: 'Station';
        span {
            &:nth-child(1) { font-size: var(--size-font-large); }
            &:nth-child(2) { font-size: var(--size-font-small); }
        }
    }

    button { padding: 0 10px; font-size: 32px; }
}