@use '../../../../styles/config/mixins' as *;

.categoryBadgeContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Keeps badge and delete icon apart */
  width: 100.3%; /* Ensures full-width container */
  padding: var(--spacing-sm);
  gap: var(--spacing-xs);
  
  @media (max-width: 768px) { /* For tablets */
    padding: var(--spacing-xs); /* Reduce padding for smaller screens */
  }

  @media (max-width: 480px) { /* For smartphones */
    padding: var(--spacing-xxs); /* Even smaller padding for phones */
  }
}


.categoryBadge {
  @include flex;
  gap: var(--spacing-xs);
  border-radius: var(--border-radius-outer);
  padding: var(--spacing-xs) var(--spacing-sm);
  color: var(--color-neutral-4);
  background-color: var(--color);
  width: fit-content;

  @for $i from 1 through 16 {
    &.categoryColor#{$i} {
      background-color: var(--color-category-#{$i});
    }
  }

  .badgeText {
    white-space: nowrap;
    text-transform: capitalize;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
  }

  &:has(svg) {
    padding-left: var(--spacing-xs);
  }
}

.deleteIconContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  
  @media (max-width: 768px) { /* For tablets */
    margin-left: var(--spacing-sm); /* Adjust margin for better spacing on tablets */
  }

  @media (max-width: 480px) { /* For smartphones */
    margin-left: 0;
  }
}

.deleteIcon {
  cursor: pointer;
  transform: translateX(-25px); /* Remove the left shift */
  color: var(--color-neutral-3); /* Match color to PlusCircle if needed */
  transition: transform 0.2s ease-in-out;

}
