
.translate-x-enter {
    transform: translateX(100%);
}

.translate-x-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.translate-x-exit {
    transform: translateX(0);
}

.translate-x-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
}