
.translate-y-enter {
    transform: translateY(100%);
}

.translate-y-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.translate-y-exit {
    transform: translateY(0);
}

.translate-y-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}