/* any field component */

div[class*='-field'] {
    
    @include flex(column, flex-start, flex-start);
    margin: 10px 0;

    /* font */
    font-family: 'Varela Round';
    color: var(--color-font-dark);
    
    .field-label { 
        
        @include flex;
        padding: 4rem;

        font-size: var(--size-font-medium); 
        color: var(--color-font-bright);
        
        background-color: var(--color-primary);
    }

    .field-content {

        width: 100%;
        border: var(--color-font-dark) 1px solid;
    }

}