/* feelings field component */

.feelings-field {

    .radio-group {

        grid-area: content;
        
        /* layout */
        @include flex(row, space-evenly);
        flex-wrap: wrap;

        input { 
            display: none;

            &:checked + label {
                box-shadow: 0px 0px 10px 3px var(--color-primary);
            }
        }
        label {
            &:focus { transform: scale(0.95); }
        }
    }
}