/* time field component */

.time-field {
    
    .field-content {

        @include flex;

        /* font */
        font-family: 'Varela Round';
        font-size: var(--size-font-large);

        input[type=time] {
            border: none; outline: none;
            background: none;
            max-width: calc(var(--size-font-large) * 6);
        }

        button {
            @include flex(row);

            .time-icon {

                @include flex;

                /* size */ width: 30rem; height: 30rem;
                margin: 5px;
                border-radius: 5px;
                font-size: 22rem;

                background-color: lightgray;
            }
        }
    }
}