/* main scss file */
/* config */
/* font declarations */
@font-face {
  font-family: 'Mukta';
  src: url("../../assets/fonts/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url("../../assets/fonts/Mukta-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url("../../assets/fonts/Mukta-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Station';
  src: url("../../assets/fonts/Station.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Varela';
  src: url("../../assets/fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* color definitions */
:root {
  --color-bg: white;
  --color-day-primary: #43BD9E;
  --color-night-primary: #006890;
  --color-day-secondary: #FBEE7B;
  --color-night-secondary: #F8A480;
  --color-mood-good: #2DC937;
  --color-mood-ok: #99C140;
  --color-mood-meh: #E7B416;
  --color-mood-bad: #DB7B2B;
  --color-mood-worst: #CC3232;
  --color-tod-0: #F37E84;
  --color-tod-1: #F6966E;
  --color-tod-2: #FED555;
  --color-tod-3: #F8F16F;
  --color-tod-4: #FFE3A4;
  --color-tod-5: #F5A67E;
  --color-tod-6: #8A92A6;
  --color-tod-6: #006692;
  --color-tod-7: #1A3A50;
  --color-font-bright: white;
  --color-font-dark: black;
  --color-primary: var(--color-day-primary);
  --color-secondary: var(--color-day-secondary);
}

/* size definitions */
:root {
  --size-font-small: 12rem;
  --size-font-medium: 14rem;
  --size-font-large: 18rem;
  --size-fab: 48px;
  --size-fab-icon: 25px;
  --size-action: 20px;
  --size-mood-width: 53px;
  --size-mood-height: 20px;
}

/* mixin definitions */
/* function definitions */
/* local styles */
/* typography */
html {
  font-size: 1px;
  /* all font sizes shall be rem to maintain accessibility */
}

/* components */
/* header component */
header {
  /* size */
  width: 100vw;
  height: 50px;
  /* color */
  background-color: var(--color-primary);
  color: var(--color-font-bright);
  /* layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  /* font */
  font-family: 'Station';
  /* layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 span:nth-child(1) {
  font-size: var(--size-font-large);
}

header h1 span:nth-child(2) {
  font-size: var(--size-font-small);
}

header button {
  padding: 0 10px;
  font-size: 32px;
}

/* footer component */
footer {
  /* size */
  width: 100vw;
  height: 100px;
  /* position */
  position: fixed;
  bottom: 0;
  /* layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

footer button {
  /* size */
  width: var(--size-fab);
  height: var(--size-fab);
  border-radius: 50%;
  position: absolute;
  /* color */
  background-color: var(--color-secondary);
  color: var(--color-font-dark);
  font-size: var(--size-fab-icon);
}

footer .bottom-filler {
  /* size */
  width: 150vw;
  height: 100%;
  border-radius: 50%;
  /* position */
  position: absolute;
  z-index: -1;
  bottom: -25%;
  /* color */
  background-color: var(--color-primary);
}
/*# sourceMappingURL=main.css.map */