/* main scss file */
/* config */
/* font declarations */
@font-face {
  font-family: 'Mukta';
  src: url("../assets/fonts/Mukta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url("../assets/fonts/Mukta-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url("../assets/fonts/Mukta-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Station';
  src: url("../assets/fonts/Station.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Varela Round';
  src: url("../assets/fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* mixin definitions */
/* function definitions */
/* size definitions */
:root {
  --size-font-small: 12rem;
  --size-font-medium: 14rem;
  --size-font-large: 18rem;
  --size-fab: 48px;
  --size-fab-icon: 25px;
  --size-action: 25px;
  --size-mood-width: 53px;
  --size-mood-height: 20px;
}

/* color definitions */
:root {
  --color-mood-great: hsl(124, 63%, 48%);
  --color-mood-good: hsl(79, 51%, 50%);
  --color-mood-ok: hsl(45, 83%, 50%);
  --color-mood-bad: hsl(27, 71%, 51%);
  --color-mood-worst: hsl(0, 61%, 50%);
  --color-tod-0: hsl(357, 83%, 72%);
  --color-tod-1: hsl(18, 88%, 70%);
  --color-tod-2: hsl(45, 99%, 66%);
  --color-tod-3: hsl(57, 91%, 70%);
  --color-tod-4: hsl(42, 100%, 82%);
  --color-tod-5: hsl(20, 86%, 73%);
  --color-tod-6: hsl(223, 14%, 60%);
  --color-tod-6: hsl(198, 100%, 29%);
  --color-tod-7: hsl(204, 51%, 21%);
  --color-font-bright: white;
  --color-font-dark: black;
  --color-bg: white;
  --color-day-primary: hsl(162, 47%, 52%);
  --color-night-primary: hsl(198, 100%, 29%);
  --color-day-secondary: hsl(57, 91%, 70%);
  --color-night-secondary: hsl(20, 86%, 73%);
  --color-day-secondary-brightened: hsl(57, 91%, 85%);
  --color-night-secondary-brightened: hsl(20, 86%, 85%);
  --color-primary: var(--color-day-primary);
  --color-secondary: var(--color-day-secondary);
  --color-secondary-brightened: var(--color-day-secondary-brightened);
}

/* local styles */
/* typography */
html {
  font-size: 1px;
  /* all font sizes shall be rem to maintain accessibility */
}

/* elements */
/* header element */
header {
  /* size */
  width: 100vw;
  height: 50px;
  /* position */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  /* color */
  background-color: var(--color-primary);
  color: var(--color-font-bright);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

/* components */
/* activity component */
.activity {
  /* layout */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 24px 5% 1fr fit-content(50px) 10px 12px;
      grid-template-columns: 24px 5% 1fr fit-content(50px) 10px 12px;
      grid-template-areas: 'time -lp- title    edit   -rp- selected' 'time -lp- subtitle delete -rp- selected';
  /* size */
  width: 100vw;
  min-height: 75px;
  border-bottom: 1px solid gray;
}

.activity:last-of-type {
  margin-bottom: 150px;
}

.activity .time-container {
  /* layout */
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: time;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color */
  background-color: var(--color-tod-2);
  color: var(--color-font-dark);
}

.activity .time-container time {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  /* font */
  font-family: 'Varela Round';
  font-size: var(--size-font-large);
}

.activity .title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  margin-top: 12px;
  /* font */
  font-family: 'Varela Round';
  font-size: var(--size-font-large);
  color: var(--color-font-dark);
}

.activity .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: subtitle;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity .subtitle .feeling-label {
  font-family: 'Mukta';
  font-weight: lighter;
  font-size: var(--size-font-medium);
  color: var(--color-font-dark);
  margin-right: 5rem;
}

.activity .subtitle .feeling-mood {
  /* size */
  width: 53rem;
  height: 20rem;
  border-radius: 5rem;
  /* font */
  font-family: 'Mukta';
  font-weight: bold;
  font-size: var(--size-font-small);
  text-align: center;
  /* color */
  color: var(--color-font-bright);
  background-color: var(--color-mood-good);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity .action-button {
  font-size: var(--size-action);
}

.activity .edit {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: edit;
  margin-top: 5px;
  color: var(--color-mood-ok);
}

.activity .delete {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: delete;
  margin-bottom: 5px;
  color: var(--color-mood-worst);
}

.activity .selected {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  grid-area: selected;
  background-color: var(--color-primary);
}

/* fab component */
.fab {
  /* size */
  width: var(--size-fab);
  height: var(--size-fab);
  font-size: var(--size-fab-icon);
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.fab-wing {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* size */
  width: var(--size-fab);
  height: var(--size-fab);
  /* visual */
  border-radius: calc(var(--size-fab) * 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: calc(var(--size-fab-icon) * 0.7);
  --size: var(--size-fab);
  --padding: 0;
}

.fab-wing:nth-child(1) {
  right: var(--size-fab);
  padding-right: var(--padding);
  width: var(--size);
  top: calc(50% - var(--size-fab) / 2);
}

.fab-wing:nth-child(2) {
  left: var(--size-fab);
  padding-left: var(--padding);
  width: var(--size);
  top: calc(50% - var(--size-fab) / 2);
}

.fab-wing:nth-child(3) {
  top: var(--size-fab);
  padding-top: var(--padding);
  height: var(--size);
  left: calc(50% - var(--size-fab) / 2);
}

.fab-wing:nth-child(4) {
  bottom: var(--size-fab);
  padding-bottom: var(--padding);
  height: var(--size);
  left: calc(50% - var(--size-fab) / 2);
}

.fab-container {
  /* size */
  width: calc(var(--size-fab) * 3);
  height: calc(var(--size-fab) * 3);
  position: relative;
}

.fab-container .fab {
  position: absolute;
  top: calc(50% - var(--size-fab) / 2);
  left: calc(50% - var(--size-fab) / 2);
}

.fab-container.active .fab-wing {
  --padding: var(--size-fab);
  --size: calc(var(--size-fab) * 2);
}

/* nav header component */
.nav-header {
  /* size */
  width: 100%;
  height: 100%;
  /* layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* font */
  font-family: 'Station';
}

.nav-header h1 span:nth-child(1) {
  font-size: var(--size-font-large);
}

.nav-header h1 span:nth-child(2) {
  font-size: var(--size-font-small);
}

.nav-header .nav-dir-button {
  padding: 0 10px;
  font-size: 32px;
}

.nav-header .nav-menu-button {
  font-size: var(--size-action);
  padding: 0 15px;
}

.nav-header .nav-menu-button:first-of-type {
  margin-right: auto;
}

.nav-header .nav-menu-button:last-of-type {
  margin-left: auto;
}

/* nav footer component */
.nav-footer {
  /* size */
  width: 100vw;
  height: 150px;
  /* position */
  position: fixed;
  bottom: 0;
  /* layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nav-footer button {
  color: var(--color-font-dark);
}

.nav-footer .fab {
  background-color: var(--color-secondary);
}

.nav-footer .fab-wing {
  background-color: var(--color-secondary-brightened);
}

.nav-footer .bottom-filler {
  /* size */
  width: 150vw;
  height: 100%;
  border-radius: 50%;
  /* position */
  position: absolute;
  z-index: -1;
  bottom: -50%;
  /* color */
  background-color: var(--color-primary);
  -webkit-box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */