@use '../../styles/config/mixins' as *;
@use '../../styles/css-variables/colors' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  pointer-events: auto;
}

.alert-card {
  position: fixed;
  @include flex(row, center, center);
  border: 1px solid #ccc;
  border-radius: 40px;
  cursor: pointer;
  height: auto;
  min-width: 90%;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, width 0.3s ease, border-bottom-width 0.3s ease;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  z-index: 10001;
  gap: 15px;
}

.alert-icon {
  font-size: 4em;
  margin-bottom: 10px;
  color: inherit;
  flex-shrink: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.alert-title {
  font-size: 1.5rem;
  line-height: 1.2;
  color: inherit;
  margin-bottom: 5px;
  text-align: left;
}

.alert-content {
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.5;
  color: inherit;
  text-align: left;
  white-space: pre-wrap;
}

.alert-card.alert-success {
  background-color: var(--color-success-light);
  color: var(--color-success-dark);
}

.alert-card.alert-error {
  background-color: var(--color-error-light);
  color: var(--color-error-dark);
}

.alert-card.alert-info {
  background-color: var(--color-info-light);
  color: var(--color-info-dark);
}

.alert-card.alert-warning {
  background-color: var(--color-warning-light);
  color: var(--color-warning-dark);
}
